@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .bg-birthday {
    background-image: url('/watermark.png');
    background-size: cover;
    background-position: center;
  }
}

body {
  color: var(--foreground);
}

.rotate-90 {
  transform: rotate(90deg);
  transform-origin: center; /* Adjusts the pivot point of the rotation */
}

.rotate-990 {
  transform: rotate(270deg);
  transform-origin: center; /* Adjusts the pivot point of the rotation */
}